{% extends 'base.html' %}
{% load static %}

{% block content %}

        <div class="col">
                <h1>{{ message }}</h1>
                {% for product in products %}
                    <ul class="list-group">
                        <li class="list-group-item">
                            {{ product.title }}
                            <span>
                                {% if product.stock %}
                                     <span class="text-success">Enabled</span>
                                {% else %}
                                     <span class="text-danger">Not enabled</span>
                                {% endif %}
                            </span>
                        </li>                       
                    </ul>
                    <img src="{% static 'images/icons8-heart-90.png' %}" alt="image"/>
                {% endfor %}
        </div>


{% endblock %}
