{% url 'login_view' as login_view %} 
{% url 'register_view' as register_view %} 
{% url 'logout_view' as logout_view %} 

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a href="{% url 'index' %}" class="navbar-brand">
        Store
    </a>
    <button type="buttom"  name="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navb">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navb"  class="navbar-collapse collapse hide">
        <ul class="nav navbar-nav ml-auto">
           
            {% if user.is_authenticated  %}

            <li class="navbar-item {% if request.path == logout_view %} active {%  endif %}">
                <a href="{% url 'logout_view' %}" class="nav-link">
                    <span class="fas fa-sign-in-alt">
                    </span>
                    Logout</a>
            </li>

            {% else %}
                <li class="navbar-item {% if request.path == login_view %} active {%  endif %}">
                    <a href="{{ login_view }}" class="nav-link">
                        <span class="fas fa-user">
                        </span>
                        Login</a>
                </li>

                <li class="navbar-item {% if request.path == register_view %} active {%  endif %}">
                    <a href="{% url 'register_view' %}" class="nav-link">
                        <span class="fas fa-cash-register">
                        </span>
                        Register</a>
                </li>

            {% endif %}
      


           
            


        </ul>
    </div>
</nav>